/* card stardard styling */
.w-card,
.w-card-light,
.w-card-red,
.w-card-green,
.w-card-blue,
.w-card-purple,
.w-card-slateblue,
.w-card-dark,
.w-card-light-bordered,
.w-card-red-bordered,
.w-card-green-bordered,
.w-card-blue-bordered,
.w-card-purple-bordered,
.w-card-slateblue-bordered,
.w-card-dark-bordered {
    margin: 0.6rem 0.6rem;
    padding: 1rem 1rem;
    border: 1px solid;
    border-radius: 5px;
}


/* card with background color */
.w-card-light {
    background-color: rgb(239, 239, 239);
    color: rgb(30, 25, 25);
}

.w-card-red {
    background-color: rgb(251, 32, 76);
    color: white
}

.w-card-green {
    background-color: #62fcaf;
    color: white
}

.w-card-blue {
    background-color: rgb(64, 140, 255);
    color: white
}

.w-card-purple {
    background-color: rgb(196, 48, 215);
    color: white
}

.w-card-slateblue {
    background-color: rgb(66, 55, 132);
    color: white
}

.w-card-dark {
    background-color: rgb(17, 17, 17);
    color: white
}


/* card with border only */

.w-card-light-bordered {
    border-color: rgb(239, 239, 239);
    color: rgb(30, 25, 25);
}

.w-card-red-bordered {
    border-color: rgb(251, 32, 76);
    color: rgb(251, 32, 76);
}

.w-card-green-bordered {
    border-color: #62fcaf;
    color: #62fcaf;
}

.w-card-blue-bordered {
    border-color: rgb(64, 140, 255);
    color: rgb(64, 140, 255);
}

.w-card-purple-bordered {
    border-color: rgb(196, 48, 215);
    color: rgb(196, 48, 215);
}

.w-card-slateblue-bordered {
    border-color: rgb(66, 55, 132);
    color: rgb(66, 55, 132);
}

.w-card-dark-bordered {
    border-color: rgb(17, 17, 17);
    color: rgb(33, 33, 33);
}

/* shadows for cards */
.w-card-shadow-small {
    box-shadow:
        14.5px 14.7px 12px rgba(0, 0, 0, 0.075),
        100px 100px 80px rgba(0, 0, 0, 0.07);

}
.w-card-shadow-medium {
    box-shadow:
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.043),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.062),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.078),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.097),
  100px 100px 80px rgba(0, 0, 0, 0.14)
;


}
.w-card-shadow-large {
    box-shadow:
    4.2px 4.2px 2.7px rgba(0, 0, 0, 0.081),
    10.7px 10.7px 6.9px rgba(0, 0, 0, 0.115),
    21.8px 21.8px 14.2px rgba(0, 0, 0, 0.145),
    44.9px 44.9px 29.2px rgba(0, 0, 0, 0.179),
    123px 123px 80px rgba(0, 0, 0, 0.26)
  ;
  

}
/* heading , body and footer */
.w-card-heading,
.w-card-body,
.w-card-footer {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
}

.w-card-body {
    font: size 0.8rem;
    font-weight: 500;
}

.w-card-footer {
    margin-top: 3rem;
    padding: 0.5rem 1rem 1rem 1rem;
}

/* centered group of cards */
.w-card-group-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* group cards horizontally */
.w-card-group-horizontal {
    display: flex;
    justify-content: center;
}

/* zooming cards */
.w-card-zoom {
    transition: all 0.7s ease-in-out;
}

.w-card-zoom:hover {
    transform: scale(1.2) translateX(1rem);
    margin: 3rem auto;
}


/* animated card */
.w-card-bounce {
    animation: animate 0.8s linear 0.6s infinite alternate forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (min-width: 300px) and (max-width:595px) {
    .w-card {
        width: 12rem;
        padding: 0.3rem
    }

    .w-card-heading,
    .w-card-footer {
        font-size: 1rem;
    }

    .w-card-group-horizontal {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .w-card {
        width: 15rem;
    }

    .w-card-heading,
    .w-card-footer {
        font-size: 1.3rem;
    }

    .w-card-group-horizontal {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 768px) {
    .w-card {
        width: 21rem;
    }

    .w-card-heading,
    .w-card-footer {
        font-size: 1.6rem;
    }

    .w-card-group-horizontal {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 889px) {
    .w-card {
        width: 25rem;
    }

    .w-card-heading {
        font-size: 2rem;
    }
}